<% @title = 'Change Password' %>

<h3>
<% if @user.id != current_user.id%>
Change Password for <%= @user.public_name %>
<% else %>
Change Your Password
<% end %>
</h3>

<%= my_error_messages_for @user %>

<%= form_tag(do_password_change_user_path(@user),:method => :put) do -%>
<table cellpadding=2 border=0 width=400>
<% if @user == current_user%>
  <tr><td colspan=2>To change your password please confirm your current password:</td></tr>
<tr>
<td colspan=2>
<%= label_tag :current_password,'Current Password:' %> <%= password_field_tag(:current_password)%>
</td></tr>
<%end%>
<tr><td><%= label_tag :password,'New Password:' %></td><td><%= password_field_tag(:password)%></td></tr>
<tr><td><%= label_tag :password_confirmation,'Confirm New Password:' %></td><td><%= password_field_tag(:password_confirmation)%></td></tr>
<tr><td colspan="2"><span class="smalltext">
To keep your account safe from people or software programs that might try to guess your password, we suggest you use a password that 1) is not a word found in the dictionary; 2) is more than 5 characters long; and 3) includes at least one number.  Also, passwords are case-sensitive: uppercase and lowercase make a difference.</span></td></tr>
<td>
<%= submit_tag 'Change Password' %>
</td></tr>
</table>
<% end -%>
